In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
# Load the dataset
data = pd.read_csv('car data.csv')

In [3]:
data.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [5]:
# Encode categorical variables
data = pd.get_dummies(data, columns=['Fuel_Type', 'Seller_Type', 'Transmission'], drop_first=True)

In [6]:
data.duplicated().sum()

2

In [7]:
data = data.drop_duplicates()
data =data.reset_index(drop=True)

In [8]:
data.duplicated().sum()

0

In [9]:
#sns.boxplot(data['Selling_Price'])

In [13]:
sorted_price = sorted(data['Selling_Price'], reverse = True)
print(sorted_price[:10])

[35.0, 33.0, 23.5, 23.0, 23.0, 20.75, 19.99, 19.75, 18.75, 18.0]

In [15]:
data = data.drop_duplicates()
data =data.reset_index(drop=True)

In [16]:
data = data[~(data['Selling_Price']>=33.0) & (data['Selling_Price']<=35.0)]

In [17]:
data

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,0,0,1,0,1
1,sx4,2013,4.75,9.54,43000,0,1,0,0,1
2,ciaz,2017,7.25,9.85,6900,0,0,1,0,1
3,wagon r,2011,2.85,4.15,5200,0,0,1,0,1
4,swift,2014,4.60,6.87,42450,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
294,city,2016,9.50,11.60,33988,0,1,0,0,1
295,brio,2015,4.00,5.90,60000,0,0,1,0,1
296,city,2009,3.35,11.00,87934,0,0,1,0,1
297,city,2017,11.50,12.50,9000,0,1,0,0,1
298,brio,2016,5.30,5.90,5464,0,0,1,0,1

In [18]:
# Split the dataset into features (X) and target (y)
X = data.drop(['Car_Name', 'Selling_Price'], axis=1)
Y = data['Selling_Price']

# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [19]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(X_train,Y_train)

# Make predictions
y_pred = linear.predict(X_test)

# Evaluate the model
mae_lr = mean_absolute_error(Y_test, y_pred)
mse_lr = mean_squared_error(Y_test, y_pred)
r2_lr = r2_score(Y_test, y_pred)

print("Mean Absolute Error:", mae_lr)
print("Mean Squared Error:", mse_lr)
print("R-squared:", r2_lr)

Mean Absolute Error: 1.2010181351719742
Mean Squared Error: 2.7682721982543055
R-squared: 0.8847542635374903

In [20]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.regplot(x=y_pred, y=Y_test)
# plt.xlabel("Predicted Price")
# plt.ylabel('Actual Price')
# plt.title("ACtual vs predicted price")
# plt.show()

# DT

In [21]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(X_train, Y_train)

# Make predictions
y_pred1 = tree.predict(X_test)

# Evaluate the model
mae_dt = mean_absolute_error(Y_test, y_pred1)
mse_dt = mean_squared_error(Y_test, y_pred1)
r2_dt = r2_score(Y_test, y_pred)

print("Mean Absolute Error:", mae_dt)
print("Mean Squared Error:", mse_dt)
print("R-squared:", r2_dt)

Mean Absolute Error: 0.46666666666666673
Mean Squared Error: 0.5479466666666665
R-squared: 0.8847542635374903

In [22]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.regplot(x=y_pred1, y=Y_test)
# plt.xlabel("Predicted Price")
# plt.ylabel('Actual Price')
# plt.title("ACtual vs predicted price")
# plt.show()

# GBR

In [23]:
from sklearn.ensemble import GradientBoostingRegressor
grad = GradientBoostingRegressor()
grad.fit(X_train,Y_train)

# Make predictions
y_pred = tree.predict(X_test)

# Evaluate the model
mae_gb = mean_absolute_error(Y_test, y_pred)
mse_gb = mean_squared_error(Y_test, y_pred)
r2_gb = r2_score(Y_test, y_pred)

print("Mean Absolute Error:", mae_gb)
print("Mean Squared Error:", mse_gb)
print("R-squared:", r2_gb)

Mean Absolute Error: 0.46666666666666673
Mean Squared Error: 0.5479466666666665
R-squared: 0.9771884725851745

In [24]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.regplot(x=y_pred, y=Y_test)
# plt.xlabel("Predicted Price")
# plt.ylabel('Actual Price')
# plt.title("ACtual vs predicted price")
# plt.show()

# Ridge Regression

In [25]:
from sklearn.linear_model import Ridge
rid= Ridge()
rid.fit(X_train, Y_train)

# Make predictions
y_pred = tree.predict(X_test)

# Evaluate the model
mae_rr = mean_absolute_error(Y_test, y_pred)
mse_rr = mean_squared_error(Y_test, y_pred)
r2_rr = r2_score(Y_test, y_pred)

print("Mean Absolute Error:", mae_rr)
print("Mean Squared Error:", mse_rr)
print("R-squared:", r2_rr)

Mean Absolute Error: 0.46666666666666673
Mean Squared Error: 0.5479466666666665
R-squared: 0.9771884725851745

In [26]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.regplot(x=y_pred, y=Y_test)
# plt.xlabel("Predicted Price")
# plt.ylabel('Actual Price')
# plt.title("ACtual vs predicted price")
# plt.show()

# Random Forest

In [27]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor()
RF.fit(X_train, Y_train)

# Make predictions
y_pred = tree.predict(X_test)

# Evaluate the model
mae_rf = mean_absolute_error(Y_test, y_pred)
mse_rf = mean_squared_error(Y_test, y_pred)
r2_rf = r2_score(Y_test, y_pred)

print("Mean Absolute Error:", mae_rf)
print("Mean Squared Error:", mse_rf)
print("R-squared:", r2_rf)

Mean Absolute Error: 0.46666666666666673
Mean Squared Error: 0.5479466666666665
R-squared: 0.9771884725851745

In [28]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.regplot(x=y_pred, y=Y_test)
# plt.xlabel("Predicted Price")
# plt.ylabel('Actual Price')
# plt.title("ACtual vs predicted price")
# plt.show()

In [29]:
'''
DT = DECISION TREE
LR = LINEAR REGRESSION
GBR = GRADIENT BOOSTING REGRESSOR
RR = RIDGE REGRESSION
RF = RandomForestRegressor()
'''

model_data_1 = pd.DataFrame({'Models':['DT','LR','GBR','RR','RF'],
             "R-squared score":[r2_dt,r2_lr,r2_gb,r2_rr,r2_rf]})

In [30]:
model_data_1

  Models  R-squared score
0     DT         0.884754
1     LR         0.884754
2    GBR         0.977188
3     RR         0.977188
4     RF         0.977188

# Save the Model

In [31]:
import pickle

pickle.dump(RF, open('model.pkl', 'wb'))

# my_dict = pickle.load(open('./model.pkl', 'rb'))
# my_dict

In [32]:
# #Sample data for prediction (you can replace this with your own data)
# sample_data = {
#     'Year': 2015,
#     'Present_Price': 6.0,
#     'Kms_Driven': 50000,
#     'Owner': 1,
#     'Fuel_Type_Diesel': 0,  # Replace with 1 or 0 based on the fuel type
#     'Fuel_Type_Petrol': 1,  # Replace with 1 or 0 based on the fuel type
#     'Seller_Type_Individual': 0,  # Replace with 1 or 0 based on the seller type
#     'Transmission_Manual': 1,  # Replace with 1 or 0 based on the transmission type
# }

# # Create a DataFrame from the sample data
# sample_df = pd.DataFrame([sample_data])

# # Make predictions using the loaded model
# predicted_price = loaded_RF.predict(sample_df)

# print("Predicted Selling Price:", predicted_price[0])

In [33]:
import sklearn

In [35]:
print(sklearn.__version__)

1.0.2